<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ tittel }}</title>
    <script src="https://dagarfrå.no/kode.js"></script>
    <link rel="stylesheet" href="https://dagarfrå.no/stilark.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
  </head>
  <style>
    #heim{
      padding: 1rem;
    }
    #heim a{
      color: white;
      text-decoration: none;
    }
    {% if hending.stil %}
    {{ hending.stil }}
    {% endif %}
  </style>
  <body>
    <p id="heim"><a href="https://dagarfrå.no">Heim</a></p>
    <div id="kropp">
        <p> Om </p>
        <h1 id="tid"></h1>
        <p> {{ hending.skildring }} </p>
        <p id="samenlikning"></p>
    </div>
    <script>
      let side = {{ hending }};
      const no = new Date();
      let targetTime = new Date();
      let søkeord = "shrug";

      {% if hending.fleire %}
      let fleire = {{ hending.fleire }};

      fleire.sort((a, b) => 
      {
        const dateA = new Date(a.måltid);
        const dateB = new Date(b.måltid);
        return dateA - dateB;
      });

      for(let s of fleire)
      {
          if(new Date(s["måltid"]) > no)
          {
              let nytt = s;
              nytt.tittel = side.tittel;
              nytt.filnamn = side.filnamn;
              nytt.skjedd = side.skjedd;
              side = nytt;
              break;
          }
      }
      {% endif %}

      const stilBlokk = document.createElement("style");
      stilBlokk.innerHTML = `* { background-color: ${side.farge}; }`;
      document.head.appendChild(stilBlokk);

      targetTime = new Date(side.måltid);
      søkeord = side.gif_søkeord;
      
      {% if hending.løpande %} 
      if(no.getMonth() == targetTime.getMonth() && no.getDate() > targetTime.getDate())
      {
          år = no.getFullYear() + 1;
      }
      else{
          år = no.getFullYear()
      }
      
      targetTime.setFullYear(år);   
      {% endif %}

      let timeRemaining = targetTime - Date.now();
      
      let kropp = document.getElementById("kropp");
      if(timeRemaining > 0 && targetTime.toDateString() === no.toDateString())
      {
        kropp.innerHTML = side.idag;
      }
      else if(timeRemaining < 0)
      {
        kropp.innerHTML = side.skjedd;
      }
      else
      {
        updateCountdown();
        fyll_gif();
        setInterval(updateCountdown, 1000);
        setInterval(fyll_gif, (1000*60*2));
      }
    </script>
  </body>
</html>
