*{
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#kropp {
    padding: 5rem;
    margin: auto;
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: #fffce8;
    text-shadow: 0.2em 0.2em 0.5em rgba(0,0,0,0.5);
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
}

#kropp p {
    font-size: clamp(1rem, 2vw, 2rem);
}
#kropp h1 {
    font-size: clamp(2rem, 4vw, 4rem);
}

#gif {
    max-height: 50vh;
    max-width: 100%;
}
